<form>
  <div class="form-group">
    <label for="clientNameInput">Name</label>
    {{input type="text" class="form-control" id="clientNameInput" placeholder="name" value=model.name}}
  </div>
</form>
